// Variables
$background-color: #7f847a;
$width: 300;
$circle-size: 50;

body {
	background-color: $background-color;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 600;
}

img {
	width:300px;
	height: 150px;
}

.ticket {
	width: $width + px;
	height: 490px;
	background-color: white;
	margin: 25px auto;
	position: relative;
}

.holes-top {
	height: $circle-size + px;
	width: $circle-size + px;
	background-color: $background-color;
	border-radius: 50%;
	position: absolute;
	left:50%;
	margin-left: ($circle-size / -2) + px;
	top: ($circle-size / -2) + px;
	
	&:before,
	&:after {
		content: '';
		height: $circle-size + px;
		width: $circle-size + px;
		background-color: $background-color;
		position: absolute;
		border-radius: 50%;
	}
	&:before {
		left: ($width / -2) + px;
	}
	&:after {
		left: ($width / 2) + px;
	}
}

.holes-lower {
	position: relative;
	margin:25px;
	border:1px dashed #aaa;
	&:before,
	&:after {
		content: '';
		height: $circle-size + px;
		width: $circle-size + px;
		background-color: $background-color;
		position: absolute;
		border-radius: 50%;
	}
	
	&:before {
		top: -25px;
		left: ($circle-size / -1) + px;
	}
	&:after {
		top: -25px;
		left: ($width - $circle-size) + px;
	}
}

.title {
	padding: 50px 25px 10px;
}

.cinema {
	color: #aaa;
	font-size: 18px;
}

.movie-title {
	font-size: 22px;
}
.info {
	padding: 15px 25px;
}
table {
	width: 100%;
	font-size: 14px;
	margin-bottom: 15px;
	tr {
		margin-bottom: 10px;
	}
	
	th {
		text-align: left;
		&:nth-of-type(1) {
			width: 38%;
		}
		&:nth-of-type(2) {
			width: 40%;
		}
		&:nth-of-type(3) {
			width: 15%;
		}
	}
	
	td {
		width: 33%;
		font-size: 16px;
	}
}
.bigger {
	font-size: 24px;
}
.serial {
	padding: 25px;
	table {
		border-collapse: collapse;
		margin: 0 auto;
	}
	td {
		width: 3px;
		height: 40px;
	}
}
.numbers {
	td {
		font-size: 14px;
		text-align: center;
	}
}